@{
  Layout = "_Layout";
}

@model Office.Models.Patient

<h2>Add a Doctor</h2>

<h2>Add a Doctor for: @Html.DisplayFor(model => model.PatientName)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatientId)

    @Html.Label("Select Doctor")
    @Html.DropDownList("DoctorId")

    <input type="submit" value="Save" class="btn btn-default" />
}

<p>@Html.ActionLink("Back to Patients", "Index")</p>